body {
    background-color: gray;
    color: white;
    font-family: Candara;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.header {
    padding: 5px;
    background-color: #333;
    text-align: left;
}

.header a{
    text-decoration: none;
    
    color: white;
    overflow: hidden;
}

.header h1{
    font-size: 50px;
    margin: 10px;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    margin: 0;
    padding: 0;
    float: left;
    display: block;
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover{
    background-color: dimgray;
}

.info {
    padding-top: 20px;
    margin-right: 100px;
}

.info p {
    line-height: 1.5;
    
    font-size: 17px;
}

.info h1{
    font-size: 40px;
}

.info img.headshot {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 75px;
    float: left;
    height: auto;
    width: 375px;
}

info td.job {
    width: 400px;
}